$body-bg: #f2e9e4;
$main-bg: #fff;
$border-color: rgb(209, 209, 209);
$shadow-color: rgba(109, 109, 109, 0.4);
$header-color: #038c5a;
$link-color: #03a66a;
$link-hover: #f26b6b;
$remove-button: #f27272;
$font-color: rgb(77, 77, 77);
$inverse-font-color: #fff;
$go-button: #353535;
